
body
{
    background-image: url('greyzz.png');
    padding: 5em;
 }

*
{
    font-family: 'Ubuntu', 'Arial', sans-serif;
    line-height: 1.5;
}

.titre
{
	margin: 10% 5% 10%
}

h1, h1 + p
{
    text-align: left;
    margin-left: 5%;
}

h1
{
	font-size: 4em;
}

h1 + p
{
	font-size: 2em;
}

.bordure_st
{
	border-bottom: 2px solid #47BD6C;
}

p
{
	text-align: justify;
}

.prenom
{
	color: #47BD6C;
}

ul 
{
	list-style: none
}

li::before 
{
	content: "•"; color: #47BD6C
}

li::before 
{
	content: "•"; color: #47BD6C;
  	display: inline-block; width: 1em;
  	margin-left: -1em
}

li
{
	color: black;
	margin:2em;
}


img
{
    float: top-left;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 2px 2px 2px black;
}

.Photo p
{
	text-align: center;
}

.Photo
{
	margin: 5em;
}

h2
{
    color: black;
    border-bottom: 2px solid #47BD6C;
    margin-left: 5%;
}

h2 + a
{
	border: none;
	color: #47BD6C;
}

.Contact p
{
	margin-left: 10%;
	overflow: auto;
}

.Contact
{
	margin-top: 7em;
}

.Apropos p
{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

.Loisirs p
{
	text-align: center;
}

.Loisirs
{
	margin-top: 95%;
}

.dates11 li
{
   list-style-image: url(puce.png);
}

.dates11, .dates21, .dates31, .dates41
{
	width: 20em;
}
.dates12, .dates22, .dates32, .dates42
{
	width: 50em;
	margin-top: 1em;
}

h3
{
	background-color: black;
	text-align: center;
	color: #47BD6C;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: 5%;
}

.expérience
{
	display: flex;
	flex-direction: column;
}

.dates1, .dates2, .dates3, .dates4
{
	display: flex;
	flex-direction: row; 
}

.formation
{
	display: flex;
	flex-direction: column;
}

.Recommandations
{
	display: flex;
	flex-direction: row;
	margin-left: 10%;
}
.Reco2
{
	margin-left: 35%;
}

#contenu
{
    display: flex;
    flex-direction: top;
    width: 100%;
    flex-wrap: nowrap;
}

.element1:nth-child(1)
{
	background-color: #47BD6C;
	flex:1;
}

.element2:nth-child(2)
{
	flex:2;
}

i.fas
{
	color: #47BD6C;
}

i.fa-book
{
	color: black;
	font-size: 2em;
}

i.fa-music
{
	color: black;
	font-size: 2em;
	margin-left: 10%;
}

i.fa-swimmer
{
	color: black;
	font-size: 2em;
	margin-left: 10%;
}

.expérience
{
	display: flex;
}

@media screen and (max-width: 1024px)
{

body
{
	padding: 0%;
}

section
{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
}

#contenu
{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
}

#Photo
{
	margin-left: 40%;
}