body
{
    background-image: url('Images/greyzz.png');
    width: 940px;
    border: 1px solid #47BD6C;
 }

*
{
    font-family: 'Ubuntu', 'Arial', sans-serif;
    line-height: 1.5;
}

/*En-tête*/

.titre
{
	width: 65%; 
}

header
{
	display: flex;
	flex-direction: row;
}

h1, h1 + p
{
    text-align: left;
    margin-left: 5%;
}

h1
{
	font-size: 3em;
	margin-top: 15%;
}

h1 + p
{
	font-size: 1.5em;
}

.bordure_st
{
	border-bottom: 2px solid #47BD6C;
}

p
{
	text-align: justify;
}

.prenom
{
	color: #47BD6C;
}

img
{
    margin: 25%;
    border: 3px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.Photo
{
	background-color: #47BD6C;
	width: 35%;
}

/*Corps de page*/

#contenu
{
    display: flex;
    flex-direction: top;
    width: 100%;
    flex-wrap: nowrap;
}

/*aside*/

aside section:nth-child(2) 
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

aside
{
	background-color: #47BD6C;
	width: 35%;
}

.Contact p
{
	margin-left: 10%;
	overflow: auto;
}

.Apropos p
{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

.Loisirs
{
	margin-top: 1%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

h3
{
	background-color: black;
	text-align: center;
	color: #47BD6C;
}

.icon 
{
    width: 70px;
    height: 70px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

i.fa-book
{
	color: black;
	font-size: 2em;
}

i.fa-music
{
	color: black;
	font-size: 2em;
}

i.fa-swimmer
{
	color: black;
	font-size: 2em;
}


/*main*/

main
{
	width: 63%;
	padding-right: 2%;
}

ul 
{
	list-style: none
}

li::before 
{
	content: "•"; color: #47BD6C
}

li::before 
{
	content: "•"; color: #47BD6C;
  	display: inline-block; width: 1em;
  	margin-left: -1em
}

li
{
	color: black;
	margin:2em;
}

h2
{
    color: black;
    border-bottom: 2px solid #47BD6C;
    margin-left: 5%;
}

h2 + a
{
	border: none;
	color: #47BD6C;
}

.dates11 li
{
   list-style-image: url(Images/puce.png);
}

.dates1, .dates11
{
	width: 30%;
}
.dates2
{
	margin-top: 1em;
}

main section
{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-right: 5%;
}

.experience
{
	display: flex;
	flex-direction: column;
}

.dates
{
	display: flex;
	flex-direction: row; 
}

.formation
{
	display: flex;
	flex-direction: column;
}

.Recommandations
{
	display: flex;
	flex-direction: row;
	margin-left: 10%;
}

.Reco2
{
	margin-left: 10%;
}

.Reco1 p, .Reco2 p
{
	text-align: left;
}

.fa-briefcase, .fa-graduation-cap, .fa-edit
{
	color: #47BD6C;
}

.expérience
{
	display: flex;
}


@media screen and (max-width: 720px)
{

header
{
	display: flex;
	flex-direction: column;
	width: auto;
}

.Photo p
{
	text-align: center;
	margin: 0%;
}

h1,h1 + p
{
	text-align: center;
}

.titre
{
	width: 100%
}

body
{
	width: auto;
	margin: none;
}

section
{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
}

#contenu
{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
}

.Photo
{
	width: 100%
}

aside, main
{
	width: 100%;
}

.dates
{
	display: flex;
	flex-direction: column;
	margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 8px #90A4AE;
    border-radius: 5px;
}

.dates1, .dates11
{
	width: 100%;
}

.dates2
{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0%;
}

img
{
	margin: 10%;
}
}