@font-face {
    font-family: 'police_CV/open_sanssemibold';
    src: url('police_CV/OpenSans-Semibold-webfont.eot');
    src: url('police_CV/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('police_CV/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('police_CV/OpenSans-Semibold-webfont.woff') format('woff'),
         url('police_CV/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('police_CV/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-image: url('greyzz.png');
  }

*
{
    font-family: 'open_sanssemibold', 'Arial', sans-serif;
}

.titre
{
	margin: 10% 5% 10%
}

h1, h1 + p
{
    text-align: left;
    margin-left: 5%;
}


.bordure_st
{
	border-bottom: 2px solid #47BD6C;
}

.prenom
{
	color: #47BD6C;
}

ul 
{
	list-style: none
}

li::before 
{
	content: "•"; color: #47BD6C
}

li::before 
{
	content: "•"; color: #47BD6C;
  	display: inline-block; width: 1em;
  	margin-left: -1em
}

li
{
	color: black;
	margin:2em;
}


img
{
    float: top-left;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 2px 2px 2px black;
}

.Photo p
{
	text-align: center;
}

h2
{
    color: black;
    border-bottom: 2px solid #47BD6C;
    margin-left: 5%;
}

h2 + a
{
	border: none;
	color: #47BD6C;
}

.Contact p
{
	margin-left: 10%;
}

.Apropos p
{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

.Loisirs p
{
	text-align: center;
}

.Loisirs
{
	margin-top: 130%;
}

.dates11 li
{
   list-style-image: url(puce.png);
}

h3
{
	background-color: black;
	text-align: center;
	color: #47BD6C;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: 5%;
}

.expérience
{
	display: flex;
	flex-direction: column;
}

.dates1
{
	display: flex;
	flex-direction: row; 
}

.dates2
{
	display: flex;
	flex-direction: row;
}

.dates3
{
	display: flex;
	flex-direction: row;
}

.dates4
{
	display: flex;
	flex-direction: row;
}

.dates12
{
	margin-top: 1em;
}

.dates22
{
	margin-top: 1em;
}

.dates32
{
	margin-top: 1em;
}

.dates42
{
	margin-top: 1em;
}

.formation
{
	display: flex;
	flex-direction: column;
}

.Recommandations
{
	display: flex;
	flex-direction: row;
	margin-left: 10%;
}
.Reco2
{
	margin-left: 35%;
}

#contenu
{
    display: flex;
    flex-direction: top;
    width: 100%;
    flex-wrap: nowrap;
}

.element1:nth-child(1)
{
	background-color: #47BD6C;
	flex:1;
}

.element2:nth-child(2)
{
	flex:2;
}

i.fas
{
	color: #47BD6C;
}

i.fa-book
{
	color: black;
	font-size: 2em;
}

i.fa-music
{
	color: black;
	font-size: 2em;
	margin-left: 10%;
}

i.fa-swimmer
{
	color: black;
	font-size: 2em;
	margin-left: 10%;
}

.expérience
{
	display: flex;
}

@media screen and (max-width: 1024px)
{

section
{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
}

#contenu
{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
}

#Photo
{
	margin-left: 40%;
}